<div class="current-location">
  <p>
    Current Location:
    <%= %>
  </p>
</div>

<div class="passover-time">
  <p>
    Duration:
  </p>
  <p>
    Rise Time:
  </p>
</div>

<div class="astronaut">
  <li>
    <ul>
      <p>
        Name:
      </p>
      <p>
        Craft:
      </p>

    </ul>
  </li>
</div>
